<!-- Footer -->
<footer class="footer text-center bg-alternative">
    <div class="container rounded-lg shadow-lg p-4">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
              <a class="social-link rounded-circle text-white" href="https://github.com/andriansyahp/extra191">
                <i class="icon-social-github"></i>
              </a>
            </li>
        </ul>
        <p class="small mb-0 text-white">Extra191 Team 2019 <br>
            (Version: {{ site.version }}) <br>
            The contents of this website are <br>
            &copy; 2019 under the terms of the <a href="https://github.com/UI-FASILKOM-OS/extra191/blob/master/LICENSE">GPL-3.0 License</a>.
        </p>          
    </div>
</footer>
