<!-- Footer -->
<footer class="footer text-center bg-alternative">
    <div class="container rounded-lg shadow-lg p-4">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
              <a class="social-link rounded-circle text-white" href="https://github.com/andriansyahp/extra191">
                <i class="icon-social-github"></i>
              </a>
            </li>
        </ul>
        <p class="small mb-0 text-white">Copyright &copy; Extra191 Team 2019 <br>
            (Version: V007-20190718 andriansyahp)
        </p>          
    </div>
</footer>