<!-- Navigation
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}">Extra191</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/prerequisites">Prerequisites</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/badak">Badak</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/memo">Memo</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/chapters-topics">Chapters and Topics</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/trivia">Trivia</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/links">External Links</a>
        </li>
    </ul>
</nav>  -->

<nav class="navbar navbar-expand-md navbar-dark bg-alternative sticky-top">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{{ site.baseurl }}" class="nav-item nav-link active">Home</a>
            <a href="{{ site.baseurl }}/contents/prerequisites" class="nav-item nav-link">Prerequisites</a>
            <a href="{{ site.baseurl }}/contents/badak" class="nav-item nav-link">Badak</a>
            <a href="{{ site.baseurl }}/contents/memo" class="nav-item nav-link">Memo</a>
            <a href="{{ site.baseurl }}/contents/chapters-topics" class="nav-item nav-link">Chapters and Topics</a>            
            <a href="{{ site.baseurl }}/contents/trivia" class="nav-item nav-link">Trivia</a>
            <a href="{{ site.baseurl }}/contents/links" class="nav-item nav-link">External Links</a>
        </div>

    </div>
</nav>
