<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/contents/prerequisites.html">Extra191</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#prerequisites">Prerequisites</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#badak">Badak</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#memo">Memo</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#">Chapters and Topics</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#links">External Links</a>
          </li>
    </ul>
</nav> 
