<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            Extra191
        </li>
        <li class="sidebar-nav-item">
            Prerequisites
        </li>
        <li class="sidebar-nav-item">
            Badak
        </li>
        <li class="sidebar-nav-item">
            Memo
        </li>
        <li class="sidebar-nav-item">
            Chapters and Topics
        </li>
        <li class="sidebar-nav-item">
            External Links
        </li>
    </ul>
</nav> 
